html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
    color: #c9d1d9;
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --font-main: 'Noto Sans', sans-serif;
    --main-bg: #000;
    --profile-bg: #0d1117;
    --profile-color: #c9d1d9;
    --profile-img-border: #2e343b;
    --username-font-color: #8b949e;
    --username-font-weight: 400;
    --btn-bg: #21262d;
    --btn-color: #c9d1d9;
    --btn-bg-hover: #30363d;
    --btn-border: #373b43;
    --btn-border-hover: #8c949e;
}

.profile-container {
    width: 80%;
    max-width: 400px;
    min-width: 250px;
    background-color: var(--profile-bg);
}

.profile-content {
    padding: 1em 2em;
}

img {
    width: 100%;
    border: 2px solid var(--profile-img-border);
    border-radius: 50%;
}

.profile-details {
    padding: 1em 0;
}

h2, h3 {
    margin: 0;
}

h3 {
    font-size: 1rem;
    font-weight: var(--username-font-weight);
    color: var(--username-font-color);
    margin-top: 0em;
}

button {
    width: 100%;
    font-family: inherit;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-border);
    border-radius: 6px;
    padding: .3em;
}

button:hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
}